<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Eliminación de Pedido</title>
</head>
<body>
    <h1>Confirmar Eliminación</h1>
    <p>¿Estás seguro de que quieres eliminar el pedido #{{ order.id }} del cliente {{ order.customer.first_name }} {{ order.customer.last_name }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Sí, eliminar</button>
    </form>
    <a href="{% url 'compra:order_detail' order.pk %}">No, volver al detalle</a> |
    <a href="{% url 'compra:order_list' %}">Volver a la Lista</a>
</body>
</html>